@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.header {
  padding: 60px;
  text-align: center;
  background: transparent;
  color: #688F4E;
  font-size: 30px;
}

nav {
    width: 100%;
    height: 70px;
    background-color: #688F4E;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.logo {
    font-family: "Poppins", serif;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 50px;
    font-size: 35px;
    color: #fff;
}

a { 

  color: inherit;
  text-decoration: none; } 

nav ul {
    background-color: #688F4E;
}

nav ul li {
    font-family: "Roboto", serif;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    font-size: 16px;
    padding: 20px;
}

nav ul li:hover{
	color: #000;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
	color: #2B463C;
  text-decoration: none;
	}

nav ul li ul {
    position: absolute;
    visibility: show;
    opacity: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    transition: 0.4s linear;
    border-top: 3px solid #fff;
}

nav > ul > li > ul {
    top: 100%;
    left: 0;
}

nav > ul > li > ul > li ul {
    top: 30%;
    left: 100%;
    border-left: 3px solid #fff;
}

.drop-icon {
    transform: rotate(-90deg);
}

nav ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

input {
    display: show;
}

label {
    width: 130px;
    height: 40px;
    color: #fff;
    font-size: 25px;
    line-height: 38px;
    text-align: center;
    font-weight: bolder;
    margin-right: 20px;
    border: 1px solid #fff;
    text-transform: uppercase;
    display: none;
}

label span {
    font-family: "Poppins", serif;
}

@media (max-width:1000px) {
    label {
        display: block;
    }

    nav ul {
        position: absolute;
        top: 70px;
        left: -100%;
        width: 100%;
        transition: 0.8s ease-in-out;
    }

    nav ul li {
        display: block;
    }

    input:checked ~ #menu {
        left: 0;
    }

    .drop-icon {
        transform: rotate(0deg);
    }

    nav ul li ul {
        position: relative;
        left: 0 !important;
        visibility: visible;
        opacity: 1;
        border-top: none;
        text-align-last: left;
        border-left: 5px solid #fff000 !important;
        display: none;
    }

    .show {
        display: block;
    }
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 300%;
  height: 100%;
  transition: 2s ease;
}

.slide {
  width: 33.33%;
  height: 100%;
  float: left;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}

.slide-data {
  width: 100%;
  position: absolute;
  top: 50%;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
  padding: 0 20%;
}

.slide-data h1 {
  font-family: "Poppins", serif;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 45px;
  
}

.slide-data p {
  font-family: "Poppins", serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.slide-data button {
  padding: 10px 25px;
   font-family: "Poppins";
  color: #fff;
  border: 1px solid #fff;
  background: #688F4E;
  outline: none;
  font-size: 25px;
  font-weight: bolder;
  text-decoration: none;
  border-radius: 50px;
}

.slide-data button:hover {
  color: #2B463C;
  background-color: #B1D182;
}

.slide-1 {
  background-image: url(images/1.jpg);
}

.slide-2 {
  background-image: url(images/1a.jpg);
}

.slide-3 {
  background-image: url(images/1b.jpg);
}

.slider .arrows {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #688F4E;
  font-size: 60px;
  transition: 0.4s linear;
}

.slider .arrows:hover {
  color: #B1D182;
  text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.slider .arrows label {
  display: none;
}

.slider .arrow-left {
  left: 3%;
}

.slider .arrow-right {
  right: 3%;
}

.slider input:nth-child(1):checked ~ .slides {
  left: 0;
}

.slider input:nth-child(2):checked ~ .slides {
  left: -100%;
}

.slider input:nth-child(3):checked ~ .slides {
  left: -200%;
}

.slider input:nth-child(1):checked ~ .arrows label:nth-child(1),
.slider input:nth-child(2):checked ~ .arrows label:nth-child(2),
.slider input:nth-child(3):checked ~ .arrows label:nth-child(3) {
  display: block;
}

.slider .dots {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
}

.slider .dots label {
  display: inline-block;
  border-radius: 100%;
  margin: 0 6px;
  width: 25px;
  height: 25px;
  background-color: #688F4E;
}

.slider input:nth-child(1):checked ~ .dots label:nth-child(1),
.slider input:nth-child(2):checked ~ .dots label:nth-child(2),
.slider input:nth-child(3):checked ~ .dots label:nth-child(3) {
  background-color: #2B463C;
  border: 2px solid #B1D182;
}


 @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

html {
    background-color: #eaf0f2;
}

header {
    text-align: center;
    padding-top: 100px;
    margin-bottom: 300px;
    font-size: 35px;
}

header h2 {
    color: #f0525f;
}

header span {
    color: #eaa03f;
}


footer {
    position: relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2B463C;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #B1D182;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #B1D182;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #688F4E;
}

.footer-links a:hover {
    color: #B1D182;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        
.services{
    padding: 100px 0;
    font-family: 'Poppins', sans-serif;
}
.max-width{
    max-width: 1300px;
    padding: 0 45px;
    margin: auto;
}
.max-width h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    /* font-family: sans-serif; */
}
.max-width h1::after{
    content: '';
    position: absolute;
    height: 3px;
    width: 170px;
    background: #688F4E;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.card{
    background: #2B463C;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    user-select: none;
    width: calc(26% - 20px);
    cursor: pointer;
    transition: all 0.3s ease;
        color:#fff;
}
.card:hover{
    background: #688F4E;
}
.box{
    transition: all 0.3s ease;
}
.card:hover .box{
    transform: scale(1.05);
}
.box i{
    font-size: 50px;
    color: #B1D182;
    transition: color 0.3s ease;
}
.card:hover .box i{
    color: #fff;
}
.box h3{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px;
}
@media screen and (max-width: 1190px) {
    .max-width{
        padding: 0 25px;
    }
    .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px){
    .card{
        width: 100%;
    }
}

/*Rooms*/
.container{
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.room{
  height: 280px;
  max-width: 350px;
  margin: 0 20px;
  background: white;
  transition: 0.4s;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.room:hover{
  height: 470px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
}
.room .img{
  height: 200px;
  width: 100%;
}
.room .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.room .top-text{
  padding: 5px;
}
.room .top-text .name{
text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #688F4E;
}
.room .top-text p{
	text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #2B463C;
  line-height: 20px;
}
.room .bottom-text{
	text-align: center;
  padding: 0 20px 10px 20px;
  margin-top: 5px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: 0.1s;
}
.room:hover .bottom-text{
  opacity: 1;
  visibility: visible;
}
.room .bottom-text .text{
  text-align: justify;

}
.room .bottom-text .btn{
  margin: 10px 0;
  text-align: center;
}
.room .bottom-text .btn a{
  text-decoration: none;
  background: #688F4E;
  color: #fff;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  transition: 0.2s;
}
.room .bottom-text .btn a:hover{
  transform: scale(0.9);
}
@media screen and (max-width: 978px) {
  .container{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .room{
    max-width: 700px;
    margin: 20px 0;
  }
}

/*About*/

.about{
    background: url(images/1.jpg) no-repeat left;
    background-size: 55%;
    background-color: #B1D182;
    overflow: hidden;
    padding: 100px 0;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 140px;
    box-shadow: 10px 10px 8px rgba(0,0,0,0.3);
}
.inner-section h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}
.skills button{
    font-size: 22px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 200px;
    background-color: #688F4E;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #B1D182;
    color: #2B463C;
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
}

/* team*/

.title{
    text-align: center;
    text-transform: capitalize;
    color: #688F4E;
    margin: 10px 0;
    position: relative;
}

.title::after{
    content: "";
    position: absolute;
    width: 20%; height: 2px;
    background-image: linear-gradient(to left, transparent 5%, #688F4E);
    bottom: -10px; left: 50%;
    transform: translate(-50%);
}

.team-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.member{
    flex: 1 1 250px;
    margin: 20px;
    text-align: center;
    padding: 20px 10px;
    cursor: pointer;
    max-width: 300px;
    transition: all 0.3s;
    background-color:#f2f2f2;
}

.member:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transform: translateY(-20px);
}

.member img{
    display: block;
    width: 150px; height: 150px;
    object-fit: cover;
    border:4px solid#688F4E;
    border-radius: 50%;
    margin: 0 auto;
}

.member h2{
    text-transform: uppercase;
    font-size: 24px;
    color:#688F4E;
    margin: 15px 0;
}

.member p{
    font-size: 15px;
    color: #2B463C;
    line-height: 1.6;
}

/*product(page)*/

.container{
    max-width: 1300px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
}

.prod{
    background-color: #B1D182;
    position: relative;
    border-radius: 10px;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.3);
    padding-top: 200px;
}

.prod img{
    width: 90%;
    height: 250px;
    object-fit: cover;
    position: absolute;
    top: -50px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.prod-body{
    padding: 20px;
}

.prod-body .prod-title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
    color: #2B463C;
}

.prod-body .prod-text{
    font-size: 16px;
    line-height: 1.8;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.prod-body .btn{
    width: 100%;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color:#2B463C;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.4s ease;
}

.prod-body .btn:hover{
    background-color: #688F4E;
    color: #fff;
}

@media screen and (max-width:768px) {
    .container{
        grid-template-columns: 1fr;
        grid-row-gap: 100px;
    }


}

/* contact*/
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: 'Poppins';
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: #f2f2f2;
  border:2px solid #688F4E;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #B1D182; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Poppins';
  width: 100%;
  background:#688F4E;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#B1D182; color: #2B463C;}

/* BOOK A ROOM */

.container-form {
font-family: 'Poppins';
padding: 20px 0;
margin: 0 auto;
color: #2B463C;
width: 500px;
background-color: #B1D182;
border-radius:5px;

}

form {
display: grid;
grid-row-gap: 20px;
font-family: 'Poppins';
margin-top: 10px;
margin-bottom: 10px;
}
form p {
font-weight: 600;
}
.form-field {
display: flex;
justify-content: space-between;
font-family: 'Poppins';
}

input,select {
padding: 10px 15px;
font-family: 'Poppins';
}

.btnbook {
background-color: #2B463C;
font-family: 'Poppins';
color: #fff;
padding: 10px 20px;
border: none;
font-size: 18px;
border-radius: 100px;
-webkit-border-radius: 100px;
-moz-border-radius: 100px;
-ms-border-radius: 100px;
-o-border-radius: 100px;
box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
cursor: pointer;
transition: all .3s;
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
-o-transition: all .3s;
}

.btnbook:hover {
transform: scale(1.03);
-webkit-transform: scale(1.03);
-moz-transform: scale(1.03);
-ms-transform: scale(1.03);
-o-transform: scale(1.03);
box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
background-color: #688F4E;
}


/* profile */

.wrapper{
  position: relative;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 750px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: #B1D182;
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #2B463C;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}
.wrapper .left h5{
  margin-bottom: 10px;
  color:#1F4B09;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 65%;
  background: #2B463C;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .moreinfo{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .moreinfo h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .moreinfo_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .moreinfo_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .moreinfo_data .data h4{
    color: #fff;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .moreinfo_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #B1D182;
}

.editp button{
    font-size: 17px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 20px;
    padding: 8px;
    width: 150px;
    background-color: #688F4E;
    color: white;
    cursor: pointer;
}
.editp button:hover{
    transition: 0.5s;
    background-color: #B1D182;
    color: #2B463C;
}
